In [2]:
import pandas as pd
import numpy as np

In [20]:
train_df = pd.read_csv('./data/Train_DataSet.csv')
train_label_df = pd.read_csv('./data/Train_DataSet_Label.csv')

In [18]:
train_df.info()
#title数据少了，content内容数量却多了。

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7345 entries, 0 to 7344
Data columns (total 3 columns):
id         7345 non-null object
title      7342 non-null object
content    7266 non-null object
dtypes: object(3)
memory usage: 172.2+ KB

In [19]:
train_df.describe()

,id,title,content
count,7345,7342,7266
unique,7345,7210,7118
top,aa9c6d525b0d4c53858ad74e6b957e8c,看黄播了兄弟不穿衣服那种,特别声明：以上文章内容仅代表作者本人观点，不代表新浪看点观点或立场。如有关于作品内容、版权或...
freq,1,5,8

In [21]:
train_label_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7355 entries, 0 to 7354
Data columns (total 2 columns):
id       7355 non-null object
label    7355 non-null int64
dtypes: int64(1), object(1)
memory usage: 115.0+ KB

In [22]:
train_df = train_df.merge(train_label_df,on='id',how='left')

In [23]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7345 entries, 0 to 7344
Data columns (total 4 columns):
id         7345 non-null object
title      7342 non-null object
content    7266 non-null object
label      7340 non-null float64
dtypes: float64(1), object(3)
memory usage: 286.9+ KB

In [25]:
train_df['label'] = train_df['label'].fillna(-1)

In [26]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7345 entries, 0 to 7344
Data columns (total 4 columns):
id         7345 non-null object
title      7342 non-null object
content    7266 non-null object
label      7345 non-null float64
dtypes: float64(1), object(3)
memory usage: 286.9+ KB

In [27]:
train_df = train_df[train_df['label']!=-1]

In [28]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7340 entries, 0 to 7344
Data columns (total 4 columns):
id         7340 non-null object
title      7339 non-null object
content    7266 non-null object
label      7340 non-null float64
dtypes: float64(1), object(3)
memory usage: 286.7+ KB

In [29]:
train_df['label']=train_df['label'].astype(int)

In [30]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7340 entries, 0 to 7344
Data columns (total 4 columns):
id         7340 non-null object
title      7339 non-null object
content    7266 non-null object
label      7340 non-null int64
dtypes: int64(1), object(3)
memory usage: 286.7+ KB

In [31]:
train_df['content']=train_df['content'].fillna('无')

In [32]:
train_df['title']=train_df['title'].fillna('无')

In [33]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7340 entries, 0 to 7344
Data columns (total 4 columns):
id         7340 non-null object
title      7340 non-null object
content    7340 non-null object
label      7340 non-null int64
dtypes: int64(1), object(3)
memory usage: 286.7+ KB

In [34]:
train_df.shape[0]

7340

In [7]:
pd.read_csv('./data/data_4/train.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5872 entries, 0 to 5871
Data columns (total 5 columns):
Unnamed: 0    5872 non-null int64
id            5872 non-null object
title         5872 non-null object
content       5872 non-null object
label         5872 non-null int64
dtypes: int64(2), object(3)
memory usage: 229.5+ KB

In [8]:
pwd

'/home/zhan/zyy/competitions/datafountain350'