In [3]:
import pandas as pd

In [12]:
train_df=pd.read_csv("Train_DataSet.csv")
train_label_df=pd.read_csv("Train_DataSet_Label.csv")
#test_df=pd.read_csv("Test_DataSet.csv")
train_df=train_df.merge(train_label_df,on='id',how='left')
train_df['label']=train_df['label'].fillna(-1)
train_df=train_df[train_df['label']!=-1]
train_df['label']=train_df['label'].astype(int)
#test_df['label']=0

#test_df['content']=test_df['content'].fillna('无')
train_df['content']=train_df['content'].fillna('无')
#test_df['title']=test_df['title'].fillna('无')
train_df['title']=train_df['title'].fillna('无')

#############复赛数据
#训练集:7356条
#测试集:7362条
######
train_df_sec=pd.read_csv("Second_DataSet.csv")
train_label_df_sec=pd.read_csv("Second_DataSet_Label.csv")
test_df_sec=pd.read_csv("Second_TestDataSet.csv")
train_df_sec=train_df_sec.merge(train_label_df_sec,on='id',how='left')
train_df_sec['label']=train_df_sec['label'].fillna(-1)
train_df_sec=train_df_sec[train_df_sec['label']!=-1]
train_df_sec['label']=train_df_sec['label'].astype(int)
test_df_sec['label']=0

test_df_sec['content']=test_df_sec['content'].fillna('无')
train_df_sec['content']=train_df_sec['content'].fillna('无')
test_df_sec['title']=test_df_sec['title'].fillna('无')
train_df_sec['title']=train_df_sec['title'].fillna('无')


train_df = pd.concat([train_df, train_df_sec], axis=0)

In [13]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14696 entries, 0 to 7362
Data columns (total 4 columns):
id         14696 non-null object
title      14696 non-null object
content    14696 non-null object
label      14696 non-null int64
dtypes: int64(1), object(3)
memory usage: 574.1+ KB

In [1]:
cd data_0

/home/zhan/zyy/competitions/datafountain350/data_re_5fold/data_0

In [4]:
pd.read_csv('train.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11756 entries, 0 to 11755
Data columns (total 5 columns):
Unnamed: 0    11756 non-null int64
id            11756 non-null object
title         11756 non-null object
content       11756 non-null object
label         11756 non-null int64
dtypes: int64(2), object(3)
memory usage: 459.3+ KB

In [5]:
cd ..

/home/zhan/zyy/competitions/datafountain350/data_re_5fold

In [7]:
cd data_1

/home/zhan/zyy/competitions/datafountain350/data_re_5fold/data_1

In [8]:
pd.read_csv('train.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11756 entries, 0 to 11755
Data columns (total 5 columns):
Unnamed: 0    11756 non-null int64
id            11756 non-null object
title         11756 non-null object
content       11756 non-null object
label         11756 non-null int64
dtypes: int64(2), object(3)
memory usage: 459.3+ KB

In [9]:
pd.read_csv('test.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7362 entries, 0 to 7361
Data columns (total 5 columns):
Unnamed: 0    7362 non-null int64
id            7362 non-null object
title         7362 non-null object
content       7362 non-null object
label         7362 non-null int64
dtypes: int64(2), object(3)
memory usage: 287.7+ KB

In [10]:
cd ..

/home/zhan/zyy/competitions/datafountain350/data_re_5fold

In [11]:
pd.read_csv('Second_TestDataSet.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7362 entries, 0 to 7361
Data columns (total 3 columns):
id         7362 non-null object
title      7361 non-null object
content    7266 non-null object
dtypes: object(3)
memory usage: 172.6+ KB

In [12]:
cd ..

/home/zhan/zyy/competitions/datafountain350

In [13]:
cd data_re_5fold

/home/zhan/zyy/competitions/datafountain350/data_re_5fold

In [17]:
testdf = pd.read_csv('Second_TestDataSet.csv')

In [25]:
testdf.drop_duplicates('id').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7361 entries, 0 to 7361
Data columns (total 3 columns):
id         7361 non-null object
title      7360 non-null object
content    7266 non-null object
dtypes: object(3)
memory usage: 230.0+ KB

In [20]:
submit_example_df = pd.read_csv('submit_example.csv')

In [21]:
submit_example_df[submit_example_df.duplicated('id')]

Empty DataFrame
Columns: [id, label]
Index: []

In [23]:
submit_example_df['id'].value_counts()

b4277e3490e04fceb6b7c35c525a5c0b    1
585170d6ef1e45769c523eb0ec5e513d    1
2051c8388fd644b1a356b1df3d6d587e    1
c531469957ce4d20bb12a061a858b681    1
ab9c97a7e6f447d792fca04d94979bfd    1
8486bd1abd574a7eb60f0d09167de748    1
2ac213ca393c4b21961395e94f20bf33    1
09874ee59a584d66897290d4d15557f0    1
6c7247ddaa90431faecd4f6e76ea9360    1
4f6915ba66e44f78a366df982b04e247    1
af0c134530734dda908c771dfd05dd28    1
0e8d74ae50b241c0bf1d12296c9cb9e7    1
a4f93ce6f6e64395b168ce842b046fec    1
2ceda52f788845efa4c77e08400bdb5f    1
3b1822dae5864ccb8aa49ef95972f766    1
b01770ee68f84af18f3452ef76fcd460    1
544fb87fd250486d86063cf428ad0d56    1
6a5cf857cea74267ad4bab41c1dcc4a5    1
c6b573f8102d4e3b918b225b5bae4d81    1
8b8036896c5c49f186810d078a24bb8c    1
4cbe1a8c1d8040f596978f4381a46bbb    1
bacb06ce48d84ad58526d07a2a242bf0    1
4fcd211d38da42658e4f0e198a093c82    1
ed92d6d64c124c5a9fc4ea6ce72314cb    1
cd1bb31374d8421aab9832756aaa8b13    1
7c85f463d80d4505a762376ee508e9ef    1
938b4d84fca84a1f8e0451454ea4fbc5    1
08fc0c496a01452094d1b9492a5aaefa    1
0b702e43a1fd4c099a3d76ffe365e33f    1
93225368e0bc4705ad312ef04eda9b9d    1
                                   ..
03ca3da64e8d45228e22406ada8680e5    1
244334ad189e4f9490e6eb78c67038de    1
b2ecd9f9fa874fb48a3f28ee4297a5be    1
1b684910b25d4e60ba18629e8962d38b    1
b344e5c57f9342069f8e4c52444608cd    1
90b31925065649548906d758edb88eaf    1
6ff7ed0f773945a7b05e5b7ed0d6abb8    1
9aa4da4b9bf6466bb881b83c14af93ca    1
e823b4d6e75345ba84c30d8cc9963022    1
7be0dabeace04ec795fe60f0c0acfb08    1
594208fc9ad14f2fb697bd4ca279a900    1
acfceb7f1eee4740a56e7b807bf33de4    1
1e5e41fda0df4427a606efc2613c8826    1
3af97752effd47ff8f5e75f319b842dd    1
4ea35066fb1e4b47ad65f636db8f959d    1
e64934c91c8d480ab17f93bfe0a28d5f    1
2bbf70cebafe469fa4a77b3ac9c9e864    1
4db3a526f48a4913a96717bf5e416c02    1
89f7e0a05542402991c7986594ce8494    1
c9d31eb1731146d0946c27db6cc5dc76    1
86a580e3c3da410ca64ca1a5e4b1b5ca    1
8ad61161a98d48e3bd53186e02c7d208    1
52ece78688e349b494430d465c63d2c5    1
bb09d928ac7e48c99011f6d8544ed598    1
769eeabcfaaa4864a085c93fd0b15360    1
4105d76f84a345cf994853033a4b43aa    1
f4b0088bf6ad4d45906c2cc7934b809c    1
b4fd885bbacc46269242872bd4c205ff    1
a2fbb2bb89454551bdf98d8327c41f42    1
02433689758b40438bfc4b2fbcb5ed55    1
Name: id, Length: 7356, dtype: int64

In [26]:
testdf = pd.read_csv('Second_TestDataSet.csv')

In [36]:
testdf[testdf.id=='4f64a686e344478c806f26573794cf96']

                                    id               title content
4623  4f64a686e344478c806f26573794cf96  城市路面“坑”人，真相不能止步于侥幸     NaN

In [34]:
pwd

'/home/zhan/zyy/competitions/datafountain350/data_re_5fold'

In [37]:
ls -l

total 148460
drwxrwxr-x 2 zhan zhan     4096 11月  7 19:14 data_0/
drwxrwxr-x 2 zhan zhan     4096 11月  7 19:14 data_1/
drwxrwxr-x 2 zhan zhan     4096 11月  7 19:14 data_2/
drwxrwxr-x 2 zhan zhan     4096 11月  7 19:14 data_3/
drwxrwxr-x 2 zhan zhan     4096 11月  7 19:14 data_4/
-rw-rw-r-- 1 zhan zhan      610 11月  7 19:13 data_process.py
-rw-rw-r-- 1 zhan zhan     2197 11月  6 21:54 preprocess.py
-rw-rw-r-- 1 zhan zhan 25703765 11月  6 21:29 Second_DataSet.csv
-rw-rw-r-- 1 zhan zhan   264826 11月  6 21:29 Second_DataSet_Label.csv
-rw-rw-r-- 1 zhan zhan 25818966 11月  7 19:03 Second_TestDataSet.csv
-rw-rw-r-- 1 zhan zhan   264826 11月  6 18:28 submit_example.csv
-rw-rw-r-- 1 zhan zhan 11265470 11月  6 18:29 Test2_DataSet.zip
-rw-rw-r-- 1 zhan zhan 25851542 11月  7 19:13 test.csv
-rwxrwxrwx 1 zhan zhan 25645990 8月  17 08:47 Test_DataSet.csv*
-rw-rw-r-- 1 zhan zhan 11351380 11月  6 18:29 Train2_dataset.zip
-rwxrwxrwx 1 zhan zhan 25524728 8月  16 21:37 Train_DataSet.csv*
-rwxrwxrwx 1 zhan zhan   264790 8月  23 19:20 Train_DataSet_Label.csv*
-rw-rw-r-- 1 zhan zhan    15099 11月  7 18:57 Untitled.ipynb

In [38]:
cd data_0/

/home/zhan/zyy/competitions/datafountain350/data_re_5fold/data_0

In [39]:
pd.read_csv('test.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7356 entries, 0 to 7355
Data columns (total 4 columns):
Unnamed: 0    7356 non-null int64
id            7356 non-null object
title         7356 non-null object
content       7356 non-null object
dtypes: int64(1), object(3)
memory usage: 230.0+ KB